@media (max-width: 700px){
     main{
        margin-bottom: 180px;
    }
    footer p{
        margin: 0 auto;
        font-size: 20px;
        margin-right: 20px;
        display: inline-block;
    }
    .error{
        font-weight: bold;
        color: white;
    }
}
