@media (min-width: 1024px) {
  header {
    display: block;
    position: fixed;
    top: 0;
    height: 100px;
    width: 85%;
    margin-left: 15%;
    background-color: #000000;
  }
  aside {
    display: block;
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #1c1c1c;
  }
  main {
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 250px;
    width: 85%;
  }
  footer {
    height: 240px;
    width: 85%;
    right: 0;
  }
  h1 {
    margin: 0;
    margin-right: 30px;
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
  header > input[type="text"] {
    margin-top: 40px;
    margin-left: 200px;
    border-radius: 20px;
    padding: 7px;
    width: 300px;
    border: none;
  }
  header button, .asidebutton {
    background-color: #811713;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 7px 20px;
    margin: 40px 10px;
    float: right;
  }
  header button a {
    text-decoration: none;
    color: white;
  }
  .asidebutton a{
    text-decoration: none;
    color: white;
  }

  header > button {
    margin-right: 10px;
  }
  #morelistened p {
    font-size: 20px;
    font-weight: bold;
  }

  aside ul li {
    list-style: none;
  }
  #logo {
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
  }
  #playlists {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  #morelistened {
    display: flex;
  }
  #morelistened > div {
    display: flex;
    height: 130px;
    border-radius: 10px;
    background-color: #1c1c1c;
    width: 20%;
    margin-right: 6.6%;
    align-items: center;
    cursor:pointer;
  }
  #morelistened > div:last-child {
    margin: 0;
  }
  #morelistened > div > div:first-child {
    width: 50%;
  }

  #morelistened > div > div:last-child {
    width: 50%;
  }
  #morelistened > div img {
    width: 70%;
    background-color: #811713;
  }

  #morelistened > div img, #morelistened > div p {
    margin: 10%;
  }

  #playlist {
    display: none;
  }
  #listarepro #playlist2 {
    display: flex;
  }
  #listarepro #playlist2 div {
    display: flex;
    background-color: #1c1c1c;
  }
  #listarepro #playlist2 img {
    width: 25%;
  }
  #playlist2 > div:nth-child(2) {
    justify-content: flex-end;
  }

  #listarepro #playlist2 input {
    width: 10%;
  }
  #listarepro > div:nth-child(2) > p {
    font-size: 24px;
  }

  /**/
  #listamovil{
    display: none;
  }
  #listadoPlaylists{
    display:none;
  }
  #listadoPlaylists #playlist2 {
    display: flex;
  }
  #listadoPlaylists #playlist2 div {
    display: flex;
    background-color: #1c1c1c;
  }
  #listadoPlaylists #playlist2 img {
    width: 25%;
  }
  #playlist2 > div:nth-child(2) {
    justify-content: flex-end;
  }

  #listadoPlaylists #playlist2 input {
    width: 10%;
  }
  #listadoPlaylists > div:nth-child(2) > p {
    font-size: 24px;
  }
  /**/

  .moviltablet {
    display: none;
  }
  footer .pc {
    display: block;
  }
  footer .pc > div {
    display: flex;
  }

  footer > div.pc > div:first-child {
    background-color: #1c1c1c;
  }

 

  footer > div.pc > div:nth-child(2) > div:nth-child(3) {
    align-items: center;
    justify-content: flex-end;
  }

  footer > div.pc > div:nth-child(2) > div:nth-child(3) > a >img {
    width: 50px;
    margin-right: 20%;
  }

  footer > div.pc > div:nth-child(2) > div:nth-child(3) > a {
    width: 50px;
    margin-right: 10%;
  }
  footer
    > div.pc
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(1)
    > img {
    border-radius: 0%;
  }
  footer > div.pc > div:nth-child(2) > div:nth-child(2) > a > img {
    height: 80%;
  }
  .pc > div:first-child > div:first-child{
      margin-left: 30px;
  }
  footer > div.pc > div:nth-child(2) > div:nth-child(1) {
    color: #811713;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    line-height: 10px;
  }
  footer > div.pc > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  aside.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  aside.perfil img {
    width: 75%;
    border-radius: 50%;
    margin-top: 100px;
  }
  aside.perfil h2 {
    letter-spacing: 5px;
    color: #801713;
  }
  .usuari {
    width: 90%;
    font-size: 14px;
  }
  .usuari tr td:first-child {
    text-align: left;
    color: #801713;
    font-weight: bold;
  }
  .usuari td {
    padding: 20px 0px;
    vertical-align: top;
  }
  .usuari tr td:last-child {
    text-align: right;
  }
  .usuari_main h1 {
    text-align: left;
    margin-left: 50px;
  }
  .moviltablet_usuari_main {
    display: none;
  }
}

form {
  width: 540px;
  background: #801713;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 20px;
}
.register, .data {
  margin: calc(35vh - 220px) auto;
}

.data{
  height: 700px;
}

form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: white;
  font-size: 15px;
}
form input:focus {
  border-bottom: 2px solid #78788c;
}
form p:before {
  content: attr(type);
  display: block;
  margin: 45px 8px 0;
  font-size: 16px;
  color: white;
}
.buttonform {
  float: right;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom:15px;
}
form button:hover {
  background: black;
}
form h2 {
  color: white;
}
form span {
  font-size: 12px;
  color: red;
}
form #usuaridone {
  color: green;
  font-size: 20px;
}
form > div > a {
  color: white;
  font-size: 10px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
form > div {
  margin-top: 70px;
  text-align: right;
}
.btnreppc {
  height: 35px;
  width: 35px;
  margin: 0px 20px;
}

.pc > div:first-child > div:nth-child(2) > input:nth-child(2) {
  height: 40px;
}


/*Lo nuevo*/

.music-player-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-music-container{
  width: 80%;
  height: 80%;
  width: fit-content;
  color: white;
  margin-right: auto;
  margin-left: 10%;
}

.song-title{
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.song-author{
  margin-top: 0.1rem;
  font-size: 12px;
  color: rgb(167, 167, 167);
  letter-spacing: 0.1px;
}

.controls-music-container{
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-song-container{
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar{
  height: 3px;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(102, 102, 102);
  position: relative;
}

.progress{
  position: absolute;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background-color: #801713;
}

.time-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.time-left{
  margin-top: 0.3rem;
}

.main-song-controls{
  height: 30px;
  width: 15%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.icon{
  height: 100%;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
}

.icon:hover{
  opacity: 1;
}

audio{
  display: none;
}

  footer .pc > div:first-child {
    margin-top: 15px;
  }
  .pc > div > div:first-child,
  .pc > div > div:last-child {
    width: 25%;
    display: flex;
  }
  .pc > div:last-child > div:first-child {
    display: block;
    font-size: 15px;
  }
  .pc > div:first-child > div:nth-child(2) {
    width: 72%;
    display: flex;
    align-items: flex-end;
    margin-right: 3%;
  }
  .pc > div:last-child > div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .pc > div:first-child > div:first-child > div:first-child {
    width: 35%;
  }
  .pc > div:first-child img {
    width: 90%;
    margin: 0 auto;
  }

.error{
  font-weight: bold;
  color: white;
}

#root > header > button{
  cursor: pointer;
  color: white;
  margin-right: 50px;
}