@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
    padding: 0px;
    margin: 0 auto;
    max-height: 100%;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Didact Gothic', sans-serif;
}
header{
    display: none;
}
aside{
    display:none;
}

main{
    height: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color:#1c1c1c;
    width: 100%;
    height: 150px;
    display: grid;
}
footer .pc{
    display: none;
}
h1{
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
}
h2{
    font-size: 17px;
    letter-spacing: 2px;
}
img{
    border-radius: 5px;
}
aside ul{
    width: 70%;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;
}

aside > ul >li:first-child{
    width: 100%;
    background-color: #000000;
    letter-spacing: 3px;
    line-height: 35px;
    color: #ffffff;
    font-weight: bold;

}
aside ul > li{

    font-size: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #151515;
}
aside > ul >li:last-child{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#playlists{
    display: none;
}
#playlist{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
#playlist  div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#playlist div img{
    width: 90%;
    margin: 0 auto;
}
#playlist div input{
    width: 40%;
    margin: 0 auto;
}
#listarepro #playlist2{
    display: none;
}


#listarepro{
    width:95%;
    margin:0 auto;
    background-color: #1c1c1c;
    margin-top:30px;
    padding-bottom:30px;
    border-radius: 5px;
}
#listarepro p{
    margin-left: 15%;
    font-size: 12px;
    border-right: 2px solid #1c1c1c;
}
#listarepro p:last-child{
    border:none;
}
#listarepro div{
    display: grid;
    grid-template-columns: 10% 40% 25% 25%;
    width:90%;
    margin:0 auto;
    background-color: #000000;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
}
.songs{
    cursor: pointer;
}
#listarepro div:nth-child(2), #listarepro div:first-child{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #1c1c1c;
    margin-top:30px;
}
.moviltablet .reproductor{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
}
#listarepro > div:nth-child(2) > p{
    font-size: 12px;
}
/**/
#listadoPlaylists #playlist2{
    display: none;
}
#listamovil{
    margin-left: 5%;
    font-size: 30px;
}

 #listadoPlaylists > h3{
    margin-left: 5%;
}

#listadoPlaylists{
    width:95%;
    margin:0 auto;
    background-color: #1c1c1c;
  /*  margin-top:30px; */
    padding-bottom:30px;
    border-radius: 5px;
}
#listadoPlaylists p{
    margin-left: 15%;
    font-size: 12px;
    border-right: 2px solid #1c1c1c;
}
#listadoPlaylists p:last-child{
    border:none;
}
#listadoPlaylists div{
    /*display: grid;
    grid-template-columns: 10% 40% 25% 25%;*/
    height: 50px;
    width:90%;
    margin:0 auto;
    background-color: #000000;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
}
.songs{
    cursor: pointer;
}

.moviltablet .reproductor{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
}

/**/
.moviltablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 50%;
    align-items: center;
}
.moviltablet div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.moviltablet > div:nth-child(2), .moviltablet > div:nth-child(3){
    border-right: 1px solid #811713;
    height: 75%;
}
.moviltablet input{
    width:50px;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 30% 1fr;
}
.reproductor div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#repro{
    align-items: center;
    flex-direction: row;
}
#repro > input{
    width: 15%;
    margin-left: 3%;
    height: auto;
}
#repro > input[type=image]:nth-child(1){
    margin-left: 15%;
}
#repro input:nth-child(2){
    width: 27%;
}
.reproductor img{
    height: 90%;
    margin:10px 10px;
}
.moviltablet_usuari_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moviltablet_usuari_main img{
    width: 55%;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 40px;
}
.moviltablet_usuari_main h2{
    letter-spacing: 5px;
    color: #801713;
}
.usuari{
    width: 90%;
    font-size: 17px;
}
.usuari p{
    text-align: center;
    letter-spacing: 3px;
}
.usuari p:nth-child(2n+1){
    color:#801713;
    font-weight: bold;
}
.usuari_main h1, .error404 h1{
    text-align: center;
    color: #801713;
    font-weight: lighter;
    font-size: 60px;
}   
#usuari_main_info, #errorInfo{
    width:87%;
    margin:0 auto;
    background-color: #1c1c1c;
    margin-top:30px;
    padding-bottom:10px;
    border-radius: 5px;
    padding: 3%;
}
#usuari_main_info p, #errorInfo p{
    text-align: justify;
    font-size: 18px;
}
.error{
    font-weight: bold;
    color: white;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}
